body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.content-heading {
  color: white;
  /* font-size: 20px; */
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  padding: 2px;
}

.content-para {
  color: white;
  /* font-size: 20px; */
  font-size: 1.2 rem;
  font-weight: light;
  margin: 0;
  padding: 2px;
}

.heading {
  font-size: 2rem;
  color: #86dc3d;
  font-weight: 900;
  margin: 2% 6%;
}

.img {
  width: 100%;
  border-radius: 5%;
}

.menu {
  background-color: #86dc3d;
  margin: 0;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  padding: 2%;
}

.menu-content-1 {
  color: white;
  /* font-size: 30px; */
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 5%;
}

.menu-content-2 {
  /* font-size: 25px; */
  font-size: 1.2rem;
  color: white;
  font-weight: lighter;
  margin: 0 5%;
}

.top-container {
  text-align: center;
  font-weight: 1000;
  margin: 5% 10%;
}

.box {
  background-color: #26580f;
  padding: 1%;
  margin: 2%;
  border-radius: 5%;
  max-width: 320px;
}

.middle-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* margin: 2% 7%; */
}
.bottom-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* margin: 2% 7%; */
}

@media screen and (max-width: 450px) {
  .heading {
    text-align: center;
  }

  .menu-content-1 {
    font-size: 1rem;
    margin-top: 3%;
  }
  .menu-content-2 {
    font-size: 0.8rem;
    margin: 1% 5%;
  }
}
